In [1]:
import pandas as pd
import numpy as np

## Задача 1. Море

In [59]:
n = 4
m = 6

In [60]:
data = [[1,  4,  4,  2,  1,  1], [0,  0,  1,  0, -1, -1], [-2, -3, -1, -5, -6, -4], [-1, -3, -3, -4, -4, -2]]
df = pd.DataFrame(data)
df

   0  1  2  3  4  5
0  1  4  4  2  1  1
1  0  0  1  0 -1 -1
2 -2 -3 -1 -5 -6 -4
3 -1 -3 -3 -4 -4 -2

In [61]:
# общая площадь клеточек моря, в которых его глубина больше 5:

df[df < -5].notna().sum().sum()

1

In [62]:
# общий объём всей воды на карте:

pd.DataFrame.abs(df[df < 0]).sum().sum()

40.0

In [63]:
# максимальная высота над уровнем моря, которая есть на этой карте:

pd.DataFrame.max(df[df >= 0]).max()

4.0

## Задача 3. gamestats

In [74]:
df_games = pd.read_csv(r'D:\program_doc\6 sem\games001.csv', sep=';')
df_rates = pd.read_csv(r'D:\program_doc\6 sem\rates001.csv', sep=';')

In [77]:
g_marks = []
for i in df_games['id']:
    g_marks.append(df_rates[(df_rates['id'] == i)]['mark'].mean())

In [87]:
data = {'id':df_games['id'], 
        'name':df_games['name'], 
        'mark':marks, 
        'company':df_games['company']}
df_sort = pd.DataFrame(data).sort_values(by = 'mark')

# теперь выведем 3 игры с самой высокой средней оценкой:
for i in range (3):
     print(df_sort.iloc[i][1], f'{df_sort.iloc[i][2]:.3f}')

Star Traders 8.000
Civilization V 8.333
XCOM 2 8.867

In [86]:
high_rate_df = df_sort[(df_sort['mark'] > 8)]

# выведем студию-разработчика, у которой максимальное количество игр с рейтингом выше 8.0:
print(high_rate_df['company'].value_counts().index[0], high_rate_df['company'].value_counts()[0])

Firaxis 2

## Задача 2. neuronet

In [116]:
v = np.array([0.5, 0.1, 0.5]) # вектор признаков
df_A = pd.read_csv(r'D:\program_doc\6 sem\A.csv', header=None, sep=';')
df_b = pd.read_csv(r'D:\program_doc\6 sem\b.csv', header=None, sep=';') # вектор весов
df_A

     0    1    2
0  0.1  0.0  0.0
1  0.0  0.1  0.0
2  0.0  0.0  0.1

In [137]:
A2 = df_A @ df_A

In [138]:
res1 = v @ A2

In [139]:
v1 = res1.values.reshape(1,3)

In [140]:
b = df_b.values.reshape((3,1))

In [141]:
v1 @ b

array([[0.0275]])